:root {
    --node-background: #202936;
    --node-header-background: #233651;
    --node-body-background: #dcceaf;
}

button {
    cursor: pointer;
    user-select: none;
}

p {
    margin: 0 0 0.8em 0;
    line-height: 1.3;
    height: 2.5em;
    padding: 0 0.2em;
    overflow: hidden;

    /* ellipsis after two lines */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.node {
    padding: 5px;
    background-color: var(--node-background);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px 9px;
    border-radius: 6px;
}

.node-header {
    width: 100%;
    height: 3em;
    background-color: var(--node-header-background);
    cursor: pointer;
    border-radius: 3px 3px 0 0;
}

.node-body {
    width: 100%;
    min-height: 5em;
    background-color: var(--node-body-background);
    padding-top: 0.4em;
    border-radius: 0 0 3px 3px;
}

.choice {
    display: flex;
    flex-direction: row;
    position: relative;
}

.socket {
    border-radius: 50%;
    background-color: white;
    width: 14px;
    height: 14px;
    position: absolute;
    border: 1px solid black;
    top: 10px;
    cursor: pointer;
}

.socket-left {
    left: -11px;
}

.socket-right {
    left: calc(100% - 5px);
}